@mixin site-button($width: 122px, $height: 40px) {
    width: $width;
    height: $height;
    background-color: $site-pink;
    // padding: $btnPadding;
    color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 56px;
    position: absolute;
    border: none;
  }